.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url('~@/assets/yay.jpg') no-repeat center 0;
  background-size: 512px 512px;
}

.description {
  font-size: 35px;
  margin: 18px 0 0;
}

.description code {
  background: #f7f7f7;
}
